
<div class="container mt-5">
    
    <div class="row bg-color rounded p-5 shadow">
        <div class="col-md-3">
            <img [src]="gameAvatar" class="w-100" alt="">
        </div>
        <div class="col-md-9">
            <div class="row">
                <h2>{{gameTitle}}</h2>
                <div class="row">
                    <p>{{gameDesc}}</p>
                </div>
                <div class="col-md-3">

                    <a [href]="gameUrl" class="btn btn-danger" target="_blank">Game Website</a>
                </div>

            </div>
        </div>
    </div>
</div>